.hero-image {
    background: url('../images/temporary-hero.jpg') 50% no-repeat;
    background-size: cover;

    height: 100vh;
    /*text-align: center;*/
    display: flex;
    /*align-items: center;*/
    /*justify-content: center;*/
}

#hero-showcase-container {
    width: 100%;
    height: 100%;
    align-content: center;/* Makes sure all the content is alight to the center of the container
       vertically */
}
#hero-catch-phrase{
    font-weight: bolder;
    font-size: 6vh;

}

/*This section is just for testing the scrolling functionality of the navbars*/
#two-page-div{
    height: 2000px;
}

#two-page-div p{
    height: 100%;
}