/*Side mobile navigation container*/
#mobile-nav{
    background-color: #1779ba;
    height:100vh;
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0; /* Stay to the right */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 70px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */


}
/*Side mobile navigation links*/
#mobile-nav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 3vh;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#mobile-nav a:hover {
    color: #f1f1f1;
}
/*Side mobile navigation close*/
#mobile-nav-close{
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 3.5vh;
    margin-top:30px;
    margin-right: 50px;
}

#mobile-nav-toggle-container{
    display:none;
}
/*Based on the width of the screen, it changes the properties of the assigned elements*/
@media screen and (max-width: 47em) {
    #mobile-nav-toggle-container {display:initial;}
}

@media screen and (min-width: 47em){
    #mobile-nav-toggle-container{display:none;}
}

/*Main navigation */
#nav-container {
    width: 100vw;
    padding: 1vh 0 1vh 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    overflow-x: hidden; /* Disable horizontal scroll */


}
/*Navigation list*/
#nav-container ul{
    float:right;
    padding-right:15vw; /* alings the list close to the center of the container */
    min-width:47em;
}
/*Main navigation links*/
#nav-container ul li{
    margin: 0 1vw 0 1vw;
    font-size: 3vh;

}

#nav-container ul li a:hover{
    color:#000000;
}

@media screen and (max-width: 47em){
    #nav-container {display:none;}
}

@media screen and (min-width: 47em){
    #nav-container{display:initial;}

}